<section class="controller">
    <div class="whatever">
        <h1>TODO List</h1>
        <h4>A place to store the things you have to do!</h4>
        <input type="text" placeholder="Filter your to-dos" ng-model="$ctrl.text" />
        
        <ol>
            <li ng-repeat="list in $ctrl.toDoList" ng-class = "{completed:list.completed === true}"><button class = "status" type = "submit" ng-If="list.completed === false">Complete</button> {{list.task}}
                <button class="x">X</button>
            </li> 
        </ol>
        
        <input type="text" placeholder="Add your to do "ng-model="newTask"> 
        <button class="addition">Add</button>
    </div>
</section>